
<div class= "container">
  <uol class="list-group">
    <% unless comment.archived? %>
      <li class=”list-group-item list-group-item-action”>
        <p>
          <strong>Commenter:</strong>
          <%= comment.commenter %>
        </p>

        <p>
          <strong>Comment:</strong>
          <%= comment.body %>
        </p>

        <% if can? :destroy, @comment %>
          <p>
            <%= link_to "Delete Comment", [comment.article, comment], data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        }, class: "link-danger" %>
          </p>
        <% end %>
      </li>
    <% end %>
  </uol>
</div>


